{
  "presets": [
    ["env", {
      "targets": {
        "node": "6"
      },
      "modules": "commonjs"
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-async-generator-functions"
  ]
}
